/* General */
@import url(http://127.0.0.1:5500/html/mi%20portafolio.html);
body {
    font-family: serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #505160;
    color: #000000;
}

/* Encabezado */
header {
    background: #68829e;
    color: #000000;
    padding: 10px 20px;
    text-align: monospace;

}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #d9b44a;
    text-decoration: none;
}

/* Secciones */
section {
    padding: 20px;
    margin: 20px auto;
    background: #aed38a;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background: #598234;
    color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
}
